.nav__center {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgrey;    
}

.nav__center h1 {
    color: blueviolet;

}

.nav__links {
    width: 6rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration-line: none;    
}

.nav__list a {
    text-decoration: none;
    color:blueviolet;
}

.container {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.btn {
    width: 8rem;
    height: 2rem;
    margin-left: 2rem;
}

.btn:hover {
    text-transform: uppercase;
    font-size: 18px;
    transform: scale(1.5);
    cursor: pointer;
}